.big-bg
  = render partial: 'shared/header'
  .beginners_wrapper
    .beginners_content
      %h4.beginners_title あなたにとっての"特別"を共有してください。
      %p.beginners_paragraph 「この一節で惹きつけられた」「あのフレーズだけは今も忘れられない」 等々、あなたが忘れがたい作品の中のフレーズをぜひ投稿してください。
      %p.beginners_paragraph その後、その作品に対する説明、感想、印象に残ったポイントなどを記入してください。
      %p.beginners_paragraph 小説、漫画、映画、有名無名何でも構いません。
      %p.beginners_paragraph このコミュニティを通して、皆さんのこれからに良い影響を与えるきっかけとなる"言葉"や"作品"が見つかれば幸いです。
      %p.beginners_paragraph 世界に溢れる美しい言葉の断片を楽しみましょう。
      %p.beginners_paragraph まずは皆の投稿を見てみてください。
      = link_to posts_path do
        投稿一覧