.big-bg {
  background-image: url("#{asset_path('paper.jpg')}");
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  .beginners_wrapper {
    position: relative;
    margin: 70px auto;
    width: 600px;
    height: 420px;
    background-color: #F4F5F7;
    opacity: 0.75;
    .beginners_content {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      font-family: serif;
      margin: 25px auto;
      width: 420px;
      height: 340px;
      .beginners_title {
        text-align: center;
        margin-bottom: 20px;
      }
      .beginners_paragraph {
        margin-top: -8px;
      }
      a {
        margin        : 0 auto;
        display       : block;
        width: 150px;
        border-radius : 4%;
        font-size     : 15px;
        text-align    : center;
        cursor        : pointer;
        padding       : 12px 40px;
        background    : rgba(0, 0, 0, 0.86);
        color         : #ffffff;
        line-height   : 1em;
        opacity       : 1;
        transition    : .3s;
        box-shadow    : 1px 1px 3px #666666;
        &:hover {
          box-shadow    : none; 
          opacity       : 0.8;
          text-decoration: none;
        }
      }
    }
  }
}