.login_big_bg {
  height: 100vh;
  // width: 100%;
  // max-width: 1100px;
  background-color: #F8F5EF;
  .registrations_wrapper_box {
    padding: 45px 30px 0px;
    // height: calc(100vh - 100px);
    // width: 100%;
    // text-align:center;
    // margin: 10px auto;
    .max_width_box {
      margin: 10px auto;
      max-width: 24rem;
      .registrations_upper_box {
        // height: calc(100vh - 100px);
        // margin-right: auto;
        // margin-left: auto;
        margin-bottom: 15px;
        // text-align: center;
        margin-left: -60px;
        width: 100%;
        padding-left: 60px;
        h1 {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 45px;
          letter-spacing: 0.07em;
          color: #000000;
        }
        .new_user {
          // .field {
          //    height: 50px;
          // }
          .input-default {
            margin-top: 10px;
            height: 25px;
            width: 100%;
            padding: 0.8em;
          }
          // p {
          //   height: 50px;
          .submit {
            margin-top: 10px;
            .add_registration_btn {
              display       : inline-block;
              font-size     : 15pt;        /* 文字サイズ */
              text-align    : center;      /* 文字位置   */
              cursor        : pointer;     /* カーソル   */
              padding       : 10px 90px;   /* 余白       */
              background    : #000000;     /* 背景色     */
              color         : #ffffff;     /* 文字色     */
              line-height   : 1em;         /* 1行の高さ  */
              opacity       : 1;           /* 透明度     */
              transition    : .3s;         /* なめらか変化 */
            }
            .add_registration_btn:hover {
              opacity       : 0.8;         /* カーソル時透明度 */
            }
          }
        }
      }
      .registrations_bottom_box {
        margin-top: 80px;
        h1 {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 40px;
          line-height: 45px;
          letter-spacing: 0.07em;
          color: #000000;
        }
        p {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 15px;
        }
        a {
          background    : #000000;     /* 背景色     */
              color         : #ffffff;     /* 文字色     */
          font-size:0.75em;
          display:block;
          width:100px;
          // padding-top:10px;
          // padding-bottom:10px;
          cursor        : pointer;     /* カーソル   */
              padding       : 10px 90px;   /* 余白       */
          text-align:center;
          border:2px solid;
          border-color:#aaaaaa;
          text-decoration: none;
          line-height   : 1em;         /* 1行の高さ  */
              opacity       : 1;           /* 透明度     */
              transition    : .3s;         /* なめらか変化 */
        }
      }
    }
  }
}