.all_views_white__bg {
  background-color: #F4F5F7;
  .index_wrapper {
    .posts {
      display: flex;
      flex-wrap: wrap;
      // flexboxのオプション どういう風に横並びにするかを指定
      justify-content: center;
      width: 100%;
    }
    .index_paginate {
      text-align: center;
      margin:0 auto;
    }
  }
}