.posting_box {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  height: 700px;
  .container_box {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    h3 {
      margin: 0 0 20px;
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      color: #666;
    }
    p {
      text-align: center;
      font-size: 15px;
      color: #666;
    }
    .posting_input {
      resize: none;
      width: 100%;
      margin: 5px 0 15px;
      padding: 10px;
      border: 1px solid #D8D8D8;
      border-radius: 5px;
      font-family: "游ゴシック", "YuGothic";
    }
    .posting_image {
      margin: auto;
    }
    .posting_submit_btn {
      width: 100%;
      background-color: #778899;
      border-radius: 8px;
      color: #fff;
      border: 0;
      font-size: 18px;
      margin-top: 20px;
    }
  }
}