.post {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  background-color: #F4F5F7;
  border: solid 0.5px rgba(0,0,0,0.2);
  border-radius: 5px 5px 5px 50px;
  height: 650px;
  width: 360px;
  margin: 15px;
  // 改行後の文字列のスタートを一番上に
  text-align: start;
  &__top {
    width: 100%;
    &__user {
      display: flex;
      position: relative;
      .icon {
        width: 45px;
        height: 45px;
        margin-right: 10px;
      }
      a {
        line-height: 45px;
        text-decoration: none;
        color: #7b777c;
      }
      &__more {
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 30px;
        height: 100px;
        width: 80px;
        text-align: right;
        opacity: 0.6;
        &:hover ul.more_list {
          display: block;
        }
        .fas.fa-angle-down {
          opacity: 0.1;
        }
        ul.more_list {
          position: absolute;
          text-align: left;
          width: 80px;
          right: 0;
          font-size: 12px;
          background-color: #fff;
          border: 1px solid #ddd;
          display: none;
          box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
          border-radius: 3px;
          li {
            border-bottom: 1px solid #ddd;
            &:last-child {
              border-bottom: 0;
            }
            a {
              display: block;
              padding: 5px;
              &:hover {
                background-color: #F5F5DC;
              }
            }
          }
        }
      }
    }
  }
  &__center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 50%;
    width: 100%;
    &__image {
      display: block;
      width: 200px;
      height: 285px;
      margin-left: 25px;
    }
    &__content {
      writing-mode: vertical-rl;
      font-size: 1.8rem;
      line-height: 1.2;
      margin-right: 25px;
    }
  }
  &__bottom {
    height: 250px;
    width: 100%;
    writing-mode: vertical-rl;
    margin-bottom: -30px;
    &__title {
      font-size: 17px;
      text-indent: 1em;
      margin-right: 20px;
    }
    &__author {
      text-align: end;
      padding: 5px;
      margin-right: 10px;
    }
    &__content {
      font-size: 15px;
      line-height: 1.6;
      margin-right: 15px;
    }
  }
}