.show_wrapper {
  width: 100%;
  display: flex;
  .show_content {
    margin: 0 auto;
    .show_more {
      box-shadow: none;
      border: 0.1px solid #ddd;
    }
    .comment_wrapper {
      background-color: #F4F5F7;
      margin: 20px 0;
      padding: 30px;
      box-shadow: 0 0 5px rgba(41, 41, 41, 0.2);
      box-sizing: border-box;
      .comments_input {
        width: 100%;
        margin: 5px 0 15px;
        padding: 10px;
        border: 1px solid #D8D8D8;
        border-radius: 5px;
        font-family: "游ゴシック", "YuGothic";
      }
      .comments {
        padding: 5px;
        margin-top: 5px;
        h4 {
          line-height: 1.57;
          letter-spacing: 0.15em;
          font-size: 16px;
          color: #666;
        }
        .comment {
          margin-top: 5px;
          strong {
            font-weight: bold;
            a {
              text-decoration: none;
              color: #57C3E9;
            }
          }
        }
      }
    }
  }
}