.index_wrapper {
  // width: 1300px;
  .posts {
    // postを3つまで横並びにする
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // gap: 20px;
    display: flex;
    flex-wrap: wrap;
    // flexboxのオプション どういう風に横並びにするかを指定
    justify-content: center;
    width: 100%;
    // max-width: 1300px;
    // padding-right: 15px;
    // padding-left: 15px;
    // margin-right: 15px;
    // margin-left: 15px;
  }
}