.index_wrapper {
  // width: 1300px;
  .posts {
    // postを3つまで横並びにする
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // gap: 20px;
    display: flex;
    flex-wrap: wrap;
    // flexboxのオプション どういう風に横並びにするかを指定
    justify-content: center;
    width: 100%;
    // max-width: 1300px;
    // padding-right: 15px;
    // padding-left: 15px;
    // margin-right: 15px;
    // margin-left: 15px;
    .post {
      border: solid 1px gray;
      // display: flex;
      height: 650px;
      width: 360px;
      // position: absolute;
      margin: 15px;
      // 改行後の文字列のスタートを一番上に
      text-align: start;
      &__top {
        width: 100%;
        // display: flex;
        &__user {
          display: flex;
          .icon {
            width: 45px;
            height: 45px;
            margin-right: 10px;
          }
          a {
            line-height: 45px;
            text-decoration: none;
            color: #7b777c;
            // padding-top: 5px;
          }
        }
      }
      &__center {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        height: 50%;
        width: 100%;
        // flex-direction: column;
        // justify-content: space-around;
        .image {
          display: block;
          width: 200px;
          height: 100%;
          background-color: red;
          margin-left: 25px;
        }
        &__content {
          width: 50px;
          writing-mode: vertical-rl;
          font-size: 1.25rem;
          line-height: 1.2;
          margin-right: 25px;
        }
      }
      &__bottom {
        // display: flex;
        height: 250px;
        // width: auto;
        // text-align: right;
        width: 100%;
        writing-mode: vertical-rl;
        margin-bottom: -30px;
        &__title {
          font-size: 17px;
          text-indent: 1em;
          margin-right: 20px;
        }
        &__author {
          text-align: end;
          padding: 5px;
          margin-right: 10px;
        }
        &__content {
          // 数字や英単語も縦並びにする
          // text-orientation: upright; 
          font-size: 15px;
          line-height: 1.5;
          // text-overflow: ellipsis;
          margin-right: 10px;
        }
      }
    }
  }
}